.burger-button {
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 70px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 0;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease, scale 0.3s ease;
}

.burger-button:hover {
    opacity: 1;
    transform: scale(1.1);
}

/*Add and Remove by JavaScript*/
.burger-button.hidden {
    opacity: 0;
    transform: translateX(100%);
}

.line1, .line2, .line3 {
    transform-origin: 50% 25%;
    stroke: black;
    stroke-width: 15;
    stroke-linecap: round;
    transition: stroke 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
}

.line1 {
    transform-origin: 50% 25%;
}

.line2 {
    transform-origin: 100% 50%;
}

.line3 {
    transform-origin: 50% 75%;
}

.active .line1 {
    transform: translate(0%, 25%) rotate(-45deg) scale(1.2);
    stroke: red;
}

.active .line2 {
    opacity: 0;
    transform: scale(0);
}

.active .line3 {
    transform: translate(0%, -25%) rotate(45deg) scale(1.2);
    stroke: red;
}