header {
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    width: 100%;
    justify-content: center;
    transition: opacity 0.3s ease, transform 0.3s ease, backdrop-filter 0.3s ease;
}

/*Add and Remove by JavaScript*/
header.hidden {
    opacity: 0;
    transform: translateY(-100%);
}

/*Add and Remove by JavaScript*/
header.opaque {
    backdrop-filter: blur(30px);
}

.header-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    text-wrap: nowrap;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.header-list > li {
    flex: 0.5 1 30%;
}

.header-list > li > a {
    font-weight: bold;
    background-color: white;
    border-radius: 1rem;
    padding: 0px 20px;
    transition: color 0.3s ease;
}

.header-list > li > a:hover,
.header-list > li > a:focus{
    color: var(--hover-link);
}