.keys-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.keys-list > li {
    position: relative;
    flex: 0.75 1 max(250px, 45%);
    display: flex;
    align-items: center;
    gap: 15px;
}

.keys-list > li:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: right;
}

.keys-list > li > img {
    width: 4rem;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 1rem;
    padding: 10px;
}

/* base para todos los after */
.keys-list > li::after {
    content: '';
    position: absolute;
    width: 60%;
    bottom: 0;
    margin-bottom: -5px;
    height: 2px;
    border-radius: 1rem;
}

/* variantes por elemento */
.keys-list > li.fire::after {
    background: linear-gradient(45deg,#FFEB3B 0%, #FF9800 50%, #F44336 100%);
}

.keys-list > li.earth::after {
    background: linear-gradient(45deg, #877641 0%, #c9e766 100%);
}

.keys-list > li.air::after {
    background: linear-gradient(45deg, #E0F7FA 0%, #98e7f1 100%);
}

.keys-list > li.water::after {
    background: linear-gradient(45deg, #62edff 0%, #6edbff 50%, #0066cc 100%);
}

.key-info {
    display: flex;
    flex-direction: column;
    text-wrap: balance;
}

.key-info :nth-child(1) {
    font-weight: 700;
}

.key-info :nth-child(2) {
    font-weight: 400;
    font-size: 0.8rem;
}