.tools-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.tools-list > li {
    flex: 1 1 250px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.tools-list > li > img {
    width: 4rem;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 1rem;
    padding: 10px;
}

.tool-info {
    display: flex;
    flex-direction: column;
    text-wrap: balance;
}

.tool-info :nth-child(1) {
    font-weight: 700;
}

.tool-info :nth-child(2) {
    font-weight: 400;
    font-size: 0.8rem;
}