:root {
    font-family: 'Baloo Paaji 2','Comfortaa','Dosis';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(219, 238, 255);
    cursor: default;
}

body, header, main, footer, div, strong {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
}

a {
    display: block;
    color: rgb(0, 102, 204);
    text-decoration: none; /* Quita el subrayado */
}

img {
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    outline: none;
}

.lat-pad-L {
    padding-left: clamp(5px, 10%, 250px);
    padding-right: clamp(5px, 10%, 250px);
}

.lat-pad-S {
    padding-left: clamp(5px, 3%, 250px);
    padding-right: clamp(5px, 3%, 250px);
}

.long-pad-L {
    padding-top: 50px;
    padding-bottom: 50px;
}

.long-pad-S {
    padding-top: 15px;
    padding-bottom: 15px;
}