footer {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.social-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none; /* Quita los puntos de la lista */
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: stretch;
    column-gap: 3%;
    padding: 0;
}

.social-list-item{
    box-sizing: border-box;
    text-decoration: none; /* Quita el subrayado */
    transition: transform 0.2s ease-in-out;
    width: 8%;
}

.social-list-item:hover{
    transform: translateY(-10%);
}

.social-list-item img{
    width: 100%;
}