.social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 3%;
    padding: 5px;
}

.social-list > li {
    width: clamp(75px, 10%, 300px);
    transition: transform 0.2s ease-in-out;
}

.social-list > li:hover{
    transform: translateY(-10%);
}

.license-container {
    text-align: center;
    padding: 5px;
}