#image-gallery {
    position: relative;
    width: 50%;
    margin: auto;
    overflow: hidden;
}

.image-gallery-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.image-gallery-item {
    min-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

.image-gallery-item img {
    width: 100%;
    height: 100%;
    display: block;
}

/* Navegación de la galería */
.image-gallery-navigation {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    margin: 0 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav-button {
    background-color: rgba(0,0,0, 0.3);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s linear;
}

.nav-button > span {
    font-size: 30px;
}

.nav-button:hover {
    background-color: #005f5f9a;
}

#video-gallery {
    width: 50%;
}

#video-gallery video{
    width: 100%;
    height: 100%;
    display: block;
}