
:root {
    /*--border-style: solid; */             /* Habilitar borde */
    --border-style: hidden;            /* Esconder borde */
}

/* Estilos generales */
html {
    scroll-behavior: smooth;
    transition: all 3s;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0;
    padding: 0;
    transition: background-color 0.1s ease;
    background-image: url('grass.png'); /* Ruta a la imagen */
    /*background-size: cover; /* Ajusta la imagen para cubrir todo el área del fondo */
    /*background-position: center; /* Centra la imagen */
    /*background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-blend-mode: multiply; /* Modo de mezcla */
}

header {
    height: auto;
    position: sticky;
    text-align: center;
    justify-content: center;
    background-color: #ffffffa5;
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

section {
    margin: 10px;
    width: 80%;
    height: auto;
    text-align: center;
    justify-content: center;
    background-color: #42d3ff57;
}

nav {
    background-color: #3fdff77f;
    padding: 10px;
    animation: fadeIn 1s ease-in-out;
    transition: all 3s;
}

h1, h2 , h3, h4, h5, h6 {
    font-family: 'Inconsolata', monospace;
    font-size: xx-large;
    animation: fadeIn 1s ease-in-out;
}

p {
    font-family: 'Inconsolata', monospace;
    font-size: x-large;
    text-align: justify;
    justify-content: center;
    margin: 15px;
}

ul {
    list-style-type: none; /* Quita los puntos de la lista */
    align-items: center;
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Inconsolata', monospace;
    color: white;
    text-decoration: none; /* Quita el subrayado */
    font-weight: bold;
}

li {
    font-family: 'Inconsolata', monospace;
    color: white;
    text-decoration: none; /* Quita el subrayado */
    font-size: x-large;
    text-align: justify;
    justify-content: center;
    margin: 15px;
}

/* Estilos especificos */
nav ul {
    display: flex;
}

nav ul li {
    margin: 0 15px;
    transition: scale 0.3s ease;
}

nav ul li:hover {
    scale: 1.2;
}

nav ul li a {
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: rgb(248, 255, 57);
}

/* Estilos para las clases */
div.set {
    margin: 10px;
}

div.list {
    margin: 10px;
}

div.set {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.set h2{
    min-width: max-content;
    text-align: justify;
}

div.list ul li {
    font-size: x-large;
    margin: 5px 0;
}

/* Estilos para los bordes */
div.set {
    border-style: var(--border-style);
    border-color: rgb(43, 96, 255);
    border-width: 5px;
    border-radius: 5px;
}

div.list {
    border-style: var(--border-style);
    border-color: rgb(255, 43, 43);
    border-width: 5px;
    border-radius: 5px;
}

h1, h2 , h3, h4, h5, h6 {
    border-style: var(--border-style);
    border-color: rgb(43, 255, 244);
    border-width: 5px;
    border-radius: 5px;  
}

nav {
    border-style: var(--border-style);
    border-color: rgb(43, 255, 71);
    border-width: 5px;
    border-radius: 5px;
}

p {
    border-style: var(--border-style);
    border-color: rgb(213, 255, 43);
    border-width: 5px;
    border-radius: 5px;
}

ul {
    border-style: var(--border-style);
    border-color: rgb(251, 43, 255);
    border-width: 5px;
    border-radius: 5px;
}

li {
    border-style: var(--border-style);
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    border-radius: 5px;
}