header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    box-shadow: inset 0px 10px 40px rgb(45, 175, 236, 0.85),
    inset 0px -10px 40px rgb(45, 175, 236, 0.85);
    transition: box-shadow 0.3s ease, background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

header:hover {
    box-shadow: inset 0px 25px 40px rgb(45, 175, 236, 1),
    inset 0px -25px 40px rgb(45, 175, 236, 1),
    0px 10px 40px rgb(45, 175, 236, 0.85);
}

.header-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none; /* Quita los puntos de la lista */
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
    text-wrap: nowrap;
}

.header-list-item {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    transition: scale 0.3s ease;
}

.header-list-item a {
    text-decoration: none; /* Quita el subrayado */
    transition: color 0.3s ease;
}

.header-list-item:hover, .header-list-item:focus {
    scale: 1.15;
}

.header-list-item a:hover, .header-list-item a:focus{
    color: rgb(166, 238, 32);
}

/*Add and Remove by JavaScript*/
.hidden {
    opacity: 0;
    transform: translateY(-100%);
}