header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-wrap: nowrap;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 100;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    box-shadow: inset 0px 10px 40px rgb(45, 175, 236, 0.85), inset 0px -10px 40px rgb(45, 175, 236, 0.85);
    transition: box-shadow 0.3s ease, background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

header:hover {
    box-shadow: inset 0px 25px 40px rgb(45, 175, 236, 1),
    inset 0px -25px 40px rgb(45, 175, 236, 1),
    0px 10px 40px rgb(45, 175, 236, 0.85);
}

/*Add and Remove by JavaScript*/
header.hidden {
    opacity: 0;
    transform: translateY(-100%);
}

/*Add and Remove by JavaScript*/
header.opaque {
    background-color: rgb(45, 175, 236, 0.85);
}

.header-nav {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.header-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    text-wrap: nowrap;
    align-items: center;
    margin: 0;
    padding: 10px;
    gap: 20px;
}

.header-list-item {
    font-weight: bold;
    transition: scale 0.3s ease;
}

.header-list-item a {
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.header-list-item a:hover, .header-list-item a:focus{
    color: rgb(166, 238, 32);
}