#hero-section {
    position: relative;
    display: flex;
    margin: auto;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.hero-container-video {
    position: absolute;
    opacity: 0.85;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-container-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.hero-title {
    margin: auto;
}