html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: rgb(219, 238, 255);
    font-family: 'Baloo Paaji 2','Comfortaa','Dosis';
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: larger;
    cursor: default;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

figure {
    margin: 0;
    padding: 0;
}

.link-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none; /* Quita los puntos de la lista */
    justify-content: center;
    text-align: center;
    align-items: center;
    text-wrap: nowrap;
    padding: 0;
}

.link-list-item {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    transition: scale 0.3s ease;
}

.link-list-item a {
    text-decoration: none; /* Quita el subrayado */
    transition: color 0.3s ease;
}

.link-list-item:hover, .link-list-item:focus {
    scale: 1.15;
}

.link-list-item a:hover, .link-list-item a:focus {
    color: rgb(166, 238, 32);
}

.section-title {
    margin: auto;
    text-decoration: none; /* Quita el subrayado */
    background: linear-gradient(45deg, #0233d1 12.5%, #00f7ff 37.5%, #00ff4c 62.5%, #d9ff00 87.5%);
    background-clip: text;
    background-size: 200%;
    background-position-x: 0%;
    background-repeat: repeat;
    color: transparent;
    transition: background-position 0.5s ease;
}

.section-title:hover, .section-title:focus {
    background-position-x: 100%;
}

.info-section {
    margin-left: 10dvw;
    margin-right: 10dvw;
}

.section-container-text-special {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-container-list {
    margin-left: 5dvw;
    margin-right: 5dvw;
}

.section-text-list {
    list-style: none; /* Quita los puntos de la lista */
    padding: 0;
}

.section-container-list h3 {
    color: blue;
}

.text-list-item:hover strong{
    background-position-x: 100%;
}

strong {
    margin: auto;
    background: linear-gradient(45deg, #000000 40%, #c6dc4c 100%);
    background-clip: text;
    background-size: 300%;
    background-position-x: 0%;
    background-repeat: repeat;
    color: transparent;
    transition: background-position 0.3s ease;
}