.link-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-wrap: nowrap;
    gap: 30px;
}

.link-list > li > a {
    font-size: 1.4rem;
    font-weight: 700;
    transition: color 0.3s ease;
}

.link-list > li > a:hover,
.link-list > li > a:focus {
    color: rgb(166, 238, 32);
}