.vignette {
    display: flex;
    flex-direction: column;
}

.vignette-title {
    position: sticky;
    top: 0;
    left: 0;
    padding: 0px clamp(5px, 5%, 150px);
    width: fit-content;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    background-color: black;
}

.vignette-title > a {
    background: linear-gradient(45deg, #0233d1 12.5%, #00f7ff 37.5%, #00ff4c 62.5%, #d9ff00 87.5%);
    background-clip: text;
    background-size: 200%;
    background-position-x: 0%;
    background-repeat: repeat;
    color: transparent;
    font-size: 2rem;
    transition: background-position 0.5s ease;
}

.vignette-title > a:hover, .vignette-title > a:focus {
    background-position-x: 100%;
}

.vignette-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(10px, 10dvw, 50px);
    text-align: center;
    padding: 10px;
    margin: 0;
}

.vignette-list-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: inset 0px 0px 40px rgb(45, 175, 236, 0.85);
    border-radius: 10px;
    width: 30%;
    min-width: 300px;
}

.vignette-item-text {
    padding: 10px;
}

.vignette-item-text > h3 {
    margin: 0 auto;
    width: fit-content;
    font-size: 1.4rem;
    padding: 10px;
}

.vignette-item-text > p {
    padding: 10px;
}

.vignette-item-content {
    display: flex;
    align-items: center;
    height: 250px;
}

.vignette-item-content > p {
    padding: 20px;
    color: rgb(96, 105, 110);
}

.vignette-item-content > a {
    width: 100%;
    height: 100%;
}

.vignette-item-content > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vignette-item-content > iframe:fullscreen {
    border-radius: 0;
}