.vignette {
    display: flex;
    flex-direction: column;
}

.vignette-title {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    text-align: center;
    min-width: fit-content;
    background-color: rgb(175, 226, 255);
    transition: width 0.3s ease, clip-path 0.3s ease, background 0.3s ease;
}

.vignette-title > a {
    background: linear-gradient(45deg, #0233d1 12.5%, #00f7ff 37.5%, #00ff4c 62.5%, #d9ff00 87.5%);
    background-clip: text;
    background-size: 200%;
    background-position-x: 0%;
    background-repeat: repeat;
    color: transparent;
    font-size: 2rem;
    padding: 0px clamp(25px, 5%, 150px);
    transition: background-position 0.5s ease;
}

.vignette-title > a:hover, .vignette-title > a:focus {
    background-position-x: 100%;
}

.vignette-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(10px, 3dvw, 100px);
    text-align: center;
    padding: 40px clamp(10px, 7.5%, 50px);
}

.vignette-list-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: inset 0px 0px 40px rgb(45, 175, 236, 0.85);
    border-radius: 10px;
    width: 28%;
    min-width: 300px;
}

.vignette-item-text {
    padding: 10px;
}

.vignette-item-text > h3 {
    margin: 0 auto;
    width: fit-content;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 10px;
}

.vignette-item-text > p {
    padding: 10px 7.5%;
}

.vignette-item-content {
    display: flex;
    align-items: center;
    height: 250px;
}

.vignette-item-content > p {
    padding: 20px;
    color: rgb(96, 105, 110);
}

.vignette-item-content > a {
    width: 100%;
    height: 100%;
}

.vignette-item-content > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vignette-item-content > iframe:fullscreen {
    border-radius: 0;
}

/*Add and Remove by JavaScript*/
.vignette .collapse {
    width: 0%; /* Esto sirve para que la transición con width funcione */
    clip-path: polygon(0 0, 100% 0, calc(100% - 30px) 100%, 0 100%);
    background-color: rgb(0, 0, 0);
}