html {
    scroll-behavior: smooth;
    background-color: rgb(219, 238, 255);
    font-family: 'Inconsolata', monospace;
    font-size: large;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(45, 176, 236, 0.651);
}

form {
    display: grid;
    gap: 0.75rem;
    max-width: 30ch;
    margin: 2rem auto;
}

.form-group {
    display: grid;
    gap: 0.25rem;
}

label {
    font-weight: bold;
}

input {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: 0;
    background-color: hsla(0, 0%, 100%, 0.678);
    outline: 3px solid hsl(203, 44%, 41%);
}

textarea {
    border-radius: 0.25rem;
    border: 0;
    background-color: hsla(0, 0%, 100%, 0.678);
    outline: 3px solid hsl(203, 44%, 41%);
}

select {
    border-radius: 0.25rem;
    border: 0;
    background-color: hsla(0, 0%, 100%, 0.678);
    outline: 3px solid hsl(203, 44%, 41%);
}

#colorsampler {
    font-weight: bold;
}

input:hover {
    background-color: hsl(0, 0%, 100%);
}

textarea:hover {
    background-color: hsl(0, 0%, 100%);
}

select:hover {
    background-color: hsl(0, 0%, 100%);
}

input:not(:placeholder-shown):valid {
    outline-color: hsl(143, 100%, 26%);
}

input:not(:placeholder-shown):invalid {
    outline-color: hsl(348, 55%, 49%);
}

input:focus:invalid {
    outline-color: hsl(43, 100%, 66%);
}

textarea:focus {
    outline-color: hsl(43, 100%, 66%);
}

select:focus {
    outline-color: hsl(43, 100%, 66%);
}