.tools-list {
    display: grid;
    --columns: 4;
    --min-column-width: 250px;
    --gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(max(var(--min-column-width), calc(100%/var(--columns) - var(--gap))), 1fr));
    gap: var(--gap);
    justify-self: center;
    width: 100%;
}

.tools-list > li {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 15px;
}

.tools-list > li > img {
    width: 4rem;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 1rem;
    padding: 10px;
}

.tool-info {
    display: flex;
    flex-direction: column;
    text-wrap: balance;
}

.tool-info :nth-child(1) {
    font-weight: 700;
}

.tool-info :nth-child(2) {
    font-weight: 400;
    font-size: 0.8rem;
}